@font-face {
    font-family: 'Encode Sans';
    src: url('../fonts/subset-EncodeSans-Bold.eot');
    src: url('../fonts/subset-EncodeSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-EncodeSans-Bold.woff2') format('woff2'),
        url('../fonts/subset-EncodeSans-Bold.woff') format('woff'),
        url('../fonts/subset-EncodeSans-Bold.ttf') format('truetype'),
        url('../fonts/subset-EncodeSans-Bold.svg#EncodeSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/subset-PlayfairDisplay-Bold.eot');
    src: url('../fonts/subset-PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-PlayfairDisplay-Bold.woff2') format('woff2'),
        url('../fonts/subset-PlayfairDisplay-Bold.woff') format('woff'),
        url('../fonts/subset-PlayfairDisplay-Bold.ttf') format('truetype'),
        url('../fonts/subset-PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/subset-PlayfairDisplay-Medium.eot');
    src: url('../fonts/subset-PlayfairDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-PlayfairDisplay-Medium.woff2') format('woff2'),
        url('../fonts/subset-PlayfairDisplay-Medium.woff') format('woff'),
        url('../fonts/subset-PlayfairDisplay-Medium.ttf') format('truetype'),
        url('../fonts/subset-PlayfairDisplay-Medium.svg#PlayfairDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Compact Display';
    src: url('../fonts/subset-SFCompactDisplay-Bold.eot');
    src: url('../fonts/subset-SFCompactDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-SFCompactDisplay-Bold.woff2') format('woff2'),
        url('../fonts/subset-SFCompactDisplay-Bold.woff') format('woff'),
        url('../fonts/subset-SFCompactDisplay-Bold.ttf') format('truetype'),
        url('../fonts/subset-SFCompactDisplay-Bold.svg#SFCompactDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Compact Display';
    src: url('../fonts/subset-SFCompactDisplay-Medium.eot');
    src: url('../fonts/subset-SFCompactDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-SFCompactDisplay-Medium.woff2') format('woff2'),
        url('../fonts/subset-SFCompactDisplay-Medium.woff') format('woff'),
        url('../fonts/subset-SFCompactDisplay-Medium.ttf') format('truetype'),
        url('../fonts/subset-SFCompactDisplay-Medium.svg#SFCompactDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Compact Display';
    src: url('../fonts/../fonts/subset-SFCompactDisplay-Regular.eot');
    src: url('../fonts/../fonts/subset-SFCompactDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/subset-SFCompactDisplay-Regular.woff2') format('woff2'),
        url('../fonts/../fonts/subset-SFCompactDisplay-Regular.woff') format('woff'),
        url('../fonts/../fonts/subset-SFCompactDisplay-Regular.ttf') format('truetype'),
        url('../fonts/../fonts/subset-SFCompactDisplay-Regular.svg#SFCompactDisplay-Regular') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Compact Display';
    src: url('../fonts/subset-SFCompactDisplay-Semibold.eot');
    src: url('../fonts/subset-SFCompactDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-SFCompactDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/subset-SFCompactDisplay-Semibold.woff') format('woff'),
        url('../fonts/subset-SFCompactDisplay-Semibold.ttf') format('truetype'),
        url('../fonts/subset-SFCompactDisplay-Semibold.svg#SFCompactDisplay-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header Start  */
   
/* Header Start  */


/* Main Start  */
  main{
    width: 100%;
    margin: 48px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .section_one_container{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .section_one_title{
    font-family: 'Playfair Display';
    font-style: normal;
    font-size: 32px;
    line-height: 43px;
    font-weight: medium;
    letter-spacing: 0px;
    opacity: 1;
    color: #003F7D;
  }
  .section_right_image_container{
    display: flex;
    margin: 0px 5px;
    padding: 16px 0px;
    border-bottom: 1px solid #F0F1F2;
  }
  .right_image img{
    width: 310px;
    height: 194px;
    object-fit: cover;
    overflow: hidden;
    display: block;
  }
  .right_text_box{
    display: flex;
    flex-direction: column;
    margin: 0px 24px;
  }
  .right_date_time_one{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .right_box_dott{
    width: 4px;
    height: 4px;
    background-color: #6B757D;
    border-radius: 50%;
    display: inline-block;
  }
  .right_date_time_one span{
    font-family: 'SF Compact Display';
    font-weight: normal;
    letter-spacing: 0.21px;
    opacity: 1;
    color: #6B757D;;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
  }
  .right_info{
    max-width: 458px;
    margin: 12px 0px;
    font-family: 'SF Compact Display';
    font-style: normal;
    font-weight:600;
    letter-spacing: 0px;
    opacity: 1;
    color: #0B0C0C;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 4;
  }
  .section_pagination{
    display: flex;
    align-items: center;
    margin: 24px 0px;
    justify-content: center;
    
  }
  .section_pagination li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    list-style: none;
    border: 1px solid #808181;
    border-radius: 50%;
    margin: 0px 4px;
    transition: 200ms all ease-in-out;
  }
  .section_pagination li:hover{
    background-color: #0B0C0C0D;
  }
  .section_pagination li a{
    text-decoration: none;
    font-family: 'SF Compact Display';
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.21px;
    opacity: 1;
    color: #0B0C0C;
  }
  .section_pagination li a img{
    width: 16px;
    height: 16px;
    object-fit: cover;
    overflow: hidden;
    display: block;
  }
  .section_pagination .active{
    color: #fff;
    background-color: #FD7702;
    border-radius: 50%;
    padding: 14px 18px;
    border: none;
  }
/* Main End */
