@font-face {
    font-family: 'Encode Sans';
    src: url('../fonts/subset-EncodeSans-Bold.eot');
    src: url('../fonts/subset-EncodeSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-EncodeSans-Bold.woff2') format('woff2'),
        url('../fonts/subset-EncodeSans-Bold.woff') format('woff'),
        url('../fonts/subset-EncodeSans-Bold.ttf') format('truetype'),
        url('../fonts/subset-EncodeSans-Bold.svg#EncodeSans-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/subset-PlayfairDisplay-Bold.eot');
    src: url('../fonts/subset-PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-PlayfairDisplay-Bold.woff2') format('woff2'),
        url('../fonts/subset-PlayfairDisplay-Bold.woff') format('woff'),
        url('../fonts/subset-PlayfairDisplay-Bold.ttf') format('truetype'),
        url('../fonts/subset-PlayfairDisplay-Bold.svg#PlayfairDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/subset-PlayfairDisplay-Medium.eot');
    src: url('../fonts/subset-PlayfairDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-PlayfairDisplay-Medium.woff2') format('woff2'),
        url('../fonts/subset-PlayfairDisplay-Medium.woff') format('woff'),
        url('../fonts/subset-PlayfairDisplay-Medium.ttf') format('truetype'),
        url('../fonts/subset-PlayfairDisplay-Medium.svg#PlayfairDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Compact Display';
    src: url('../fonts/subset-SFCompactDisplay-Bold.eot');
    src: url('../fonts/subset-SFCompactDisplay-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-SFCompactDisplay-Bold.woff2') format('woff2'),
        url('../fonts/subset-SFCompactDisplay-Bold.woff') format('woff'),
        url('../fonts/subset-SFCompactDisplay-Bold.ttf') format('truetype'),
        url('../fonts/subset-SFCompactDisplay-Bold.svg#SFCompactDisplay-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Compact Display';
    src: url('../fonts/subset-SFCompactDisplay-Medium.eot');
    src: url('../fonts/subset-SFCompactDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-SFCompactDisplay-Medium.woff2') format('woff2'),
        url('../fonts/subset-SFCompactDisplay-Medium.woff') format('woff'),
        url('../fonts/subset-SFCompactDisplay-Medium.ttf') format('truetype'),
        url('../fonts/subset-SFCompactDisplay-Medium.svg#SFCompactDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Compact Display';
    src: url('../fonts/../fonts/subset-SFCompactDisplay-Regular.eot');
    src: url('../fonts/../fonts/subset-SFCompactDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/../fonts/subset-SFCompactDisplay-Regular.woff2') format('woff2'),
        url('../fonts/../fonts/subset-SFCompactDisplay-Regular.woff') format('woff'),
        url('../fonts/../fonts/subset-SFCompactDisplay-Regular.ttf') format('truetype'),
        url('../fonts/../fonts/subset-SFCompactDisplay-Regular.svg#SFCompactDisplay-Regular') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SF Compact Display';
    src: url('../fonts/subset-SFCompactDisplay-Semibold.eot');
    src: url('../fonts/subset-SFCompactDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/subset-SFCompactDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/subset-SFCompactDisplay-Semibold.woff') format('woff'),
        url('../fonts/subset-SFCompactDisplay-Semibold.ttf') format('truetype'),
        url('../fonts/subset-SFCompactDisplay-Semibold.svg#SFCompactDisplay-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Start  */
  main{
    width: 100%;
    display: block;
  }
  .section_book{
    width: 100%;
    margin: 48px 0px;
  }
  .book_title{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: medium;
    font-size: 32px;
    line-height: 43px;
    letter-spacing: 0px;
    opacity: 1;
    color:  #003F7D;
    opacity: 1;
  }
  .book_card{
    width: 100%;
  }
  .book_image{
    width: 100%;
    margin: 24px 0px;
  }
  .book_image img{
    width: 282px;
    height: 402px;
    object-fit: cover;
    overflow: hidden;
    display: block;
  }
  .book_img_container{
    text-align: center;
  }
  .book_img_title{
    font-family: 'SF Compact Display';
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0px;
    opacity: 1;
    color: #0E1013;;
  }
  .book_img_info{
    font-family: 'SF Compact Display';
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.21px;
    opacity: 1;
    color: #6B757D;
  }
/* Main End */
